## **Convert Texts Data into a Pandas DataFrame**

#### **Import Libraries**

In [1]:
import pandas as pd
from tqdm import tqdm

print("> Libraries Imported")

> Libraries Imported

#### **Obtain Datasets**

Write a function that takes in input the original practical data and the classes and return a DataFrame:

In [2]:
def get_df_from_txt(data_path, class_to_set):
    
    # prepare placeholder
    documents_id = []
    documents = []

    with open(data_path, 'r') as f:

        # document text placeholder
        temp_str = ""
        
        # iterate over lines
        lines = f.readlines()
        for line in lines:

            # clean the line
            line_clean = line.rstrip()

            if "<doc" in line:
                documents_id.append(line_clean[10:-1])

            elif "</doc>" in line:
                documents.append(temp_str)
                temp_str = ""
            else:
                temp_str += line_clean

    # create df from list
    df_class = pd.DataFrame(
        list(zip(documents_id, documents)),
        columns =['doc_id', 'doc_text']
        )

    # set class
    df_class["doc_class"] = class_to_set

    # show results
    return df_class

Apply the function on the two classes data:

In [3]:
df_class_0 = get_df_from_txt(
    data_path = "data/original_texts/linear_class_0.txt", 
    class_to_set = 0
    )

df_class_0.shape

(1373, 3)

In [4]:
df_class_1 = get_df_from_txt(
    data_path = "data/original_texts/linear_class_1.txt", 
    class_to_set = 1
    )

df_class_1.shape

(2278, 3)

Combine the two DataFrame:

In [5]:
frames = [df_class_0, df_class_1]

complete_df = pd.concat(frames)
complete_df

,doc_id,doc_text,doc_class
0,"Tuesday, January 29, 2019",18 months.In some ways it seems like an eterni...,0
1,"Sunday, July 29, 2018",One year.How can time seem fast and slow at th...,0
2,"Wednesday, May 16, 2018",It's been a while since I've last written.Life...,0
3,"Tuesday, January 16, 2018",It's been a while since my last post.Partly be...,0
4,"Thursday, November 16, 2017",Last Sunday was our 3rd annual Purple Boat Flo...,0
...,...,...,...
2273,"Thursday, June 4, 2009",My Neurologist has recently prescribed Physica...,1
2274,"Thursday, June 4, 2009",Sounds like something high society folks do.La...,1
2275,"Saturday, May 30, 2009","Life, and how it progresses is an interesting ...",1
2276,"Thursday, May 28, 2009",I am a retired Navy Master Chief Gunner's Mate...,1
2277,"Monday, May 25, 2009",The Beginning:,1

Save the complete DataFrame.

In [6]:
complete_df.to_csv("data/alz_texts.csv", index=False)